.logo {
    display: flex;
    background-color: #ffffff;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2%;
    padding-bottom: 2%;
}

.logo img {
    width: 10%;
}

.logo h4 {
    font-size: 20px;
    font-weight: bolder;
}

.logo h3 {
    color: rgb(74, 176, 140);
    font-size: 30px;
}

body .info {
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 50px;
    background-color: #dcdddc;
}

.info {
    display: flex;
    flex-direction: column;
}

.info h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 800;
    color: blue;
    text-align: center;
}

.info p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

iframe {
    width: 700;
    height: 315
}

@media screen and (max-width:1024px) {
    .logo {
        display: flex;
        background-color: #ffffff;
        justify-content: space-evenly;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .logo img {
        width: 10%;
    }

    .logo h4 {
        font-size: 16px;
        font-weight: bolder;
    }

    .logo h3 {
        color: rgb(74, 176, 140);
        font-size: 30px;
    }

    body .info {
        padding-left: 3px !important;
        padding-right: 3px !important;
        padding-bottom: 5px !important;
        background-color: #dcdddc !important;
    }

    .info {
        display: flex;
        flex-direction: column;
    }

    .info h2 {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 16px;
        font-weight: auto;
        color: blue;
        text-align: center;
    }

    .info p {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
        color: black;
    }

    iframe {
        width: auto;
        height: 149;
    }
}